header{
    width: 100%;
    padding: 0 3.5vw;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: max(40px, 3.15vw);
    margin: 2.85vw 3.8vw 0 0.3vw;
}
header > nav > ul{
    display: flex;
}
header > nav > ul > li{
    display: flex;
}
.navBtn{
    font-size: max(20px, 1.2vw);/*23px*/
    font-weight: 300;
    border-top: 3px solid white;
}
.navBtn:hover, .navBtn:visited:hover{
    color: var(--blue);
    border-top: 3px solid var(--blue);
}

.navBtn:visited{
    color: black
}
.hebergement{
    padding: 3.1vw 1.5vw 3.1vw 1.9vw;
}
.hebergement:hover{
    padding: 3.1vw 1.5vw 3.1vw 1.9vw;
}
.activites{
    padding: 3.1vw 1.6vw 0px 3.15vw;
}
.activites:hover{
    padding: 3.1vw 1.6vw 0px 3.15vw;
}
.topTitleBox{
    margin-left: 4px;
}
.mainHtopTitleBoxgroup > h1 {
    font-size: max(25px, 1.53vw); /*29.4px*/
    letter-spacing: -0.1px;
}
.topTitleBox > p{
    font-size: max(20px, 1.16vw);/*22.3px*/
    font-weight: 100;
    line-height: 3px; 
}

.topSection{
    padding: 0 3.5vw
}
.searchBox{
    height: max(48px, 3.25vw);/*68px*/
    border-radius: 25px;
    margin-top: max(40px, 1.95vw);
    background-color: var(--gray);
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    
}
.searchBox > i{
    height: 100%;
    width: 85px;
    font-size: 28px;
    background-color: var(--gray);
    border: 1px solid var(--lightblue);
    display: grid;
    place-items: center;
}
.searchBox > input{
    height: 100%;
    width: 400px;
    font-size: clamp(18px, 1.25vw, 30px);/*24px*/
    font-weight: 700;
    padding-left: 22px;
    border: 1px solid var(--gray);
    background-color: white;
}
.searchBox > input:active{
    border: 0;
}
.searchBox > button{
    height: 100%;
    color: white;
    font-size: clamp(18px, 1.25vw, 30px);/*24px*/
    font-weight: 700;
    
    border: 1px solid var(--strongblue);
    background-color: var(--strongblue);
    cursor: pointer;
}
.searchBox > button > span{
    padding: 0 20px 0 20px;
}

.searchBox > button > i{
    display: none;
}



.filterBox{
    margin: max(40px, 2.1vw) 0 28px 0;/*margin-top: 40px*/
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.filterBox > h3 {
    font-size: max(16px, 1.25vw);
    margin: 0 40px 20px 4px;
}
.filterBox > button{
    height: 67px;
    font-size: clamp(16px, 1.30vw, 28px);/*25pw*/
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 30px;
    border: 2px solid var(--darkgray);
    border-radius: 50px;
    margin: 0px 32px 20px 0;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
}
.filterBox > button > i{
    height: 67px;
    aspect-ratio: 1/1;
    color: var(--blue);
    background-color: var(--lightblue);
    padding: 15px;
    margin-right: 17px;
    border: 2px solid var(--lightblue);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transform:translateX(-2px);
    transition: all 500ms ease;
}
/*----- filter hover transition -----*/

.filterBox > button:hover{
    color: var(--blue);
    /* background-color: var(--gray); */
    box-shadow: var(--shadow);
}
.filterBox > button:hover > i{
    color: var(--lightblue);
    background-color: var(--blue);
}




.infoBox{
    display: flex;
    align-items: center;
    padding-left: 10px
}
.infoBox > i{
    height: 30px;
    aspect-ratio: 1 / 1;
    color: var(--blue);
    padding: 6px;
    border: 2px solid var(--gray);
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.infoBox > p{
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.2px;
    margin-left: 16px;
}





.mainSection1{
    width: 100%;
    min-height: 1100px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.HebergementBox{
    background-color: var(--gray);
    /* padding: 3vw 0; */
    border-radius: 28px;
    display: flex;
    flex-direction: column;
}
.HebergementBox > h2 {
    font-size: max(24px, 1.6vw);/*31px*/
    padding: 60px 0 45px 3vw;
    letter-spacing: -0.5px;
}
.hotelCardBox1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.hotelCard1{
    height: 350px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius:25px;
    margin-bottom: 60px;
    overflow: hidden;
    box-shadow: var(--shadow);
}


.hotelImgBox1{
    width: 100%;
    height: 100%;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    overflow: hidden;
    position: relative;
}
.hotelImgBox1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hotelInfoBox1 {
    width: 100%;
    background-color: white;
    padding: 15px;
    position: absolute;
    bottom: 0;
}
.hotelInfoBox1 > h3{
    font-size: max(24px, 1vw);/*31px*/
    /* margin-top: 6px; */
}
.hotelInfoBox1 > p{
    font-size: max(16px, 1vw);
    margin-top: 6px;
}

.showMore{
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    padding: 11px 0 60px 3vw;
    display: block;

}
.starBox{
    padding-left: 15px;
}
.fa-star{
    margin-right: -3px;
}
.blueStar{
    color: var(--blue);
}
.grayStar{
    color: var(--darkgray);
}
@media (min-width: 1700px){
    .HebergementBox{
        max-width: 62vw;/*1160px*/
        height: 100%;
    }
    .populaireBox{
        width: 28vw;
    }
    .hotelCard1{
        width: 16.666vw;
    }
}
@media (max-width: 1700px){
    .HebergementBox{
        width: 93vw;
        height: 100%;
    }
    .populaireBox{
        width: 93vw;
        height: 100%;
        margin-bottom: 3vw;
    }
    .hotelCard1{
        width: 25vw;
    }
}


.populaireBox{
    background-color: var(--gray);
    padding: 0 3vw 0 3vw;
    border-radius: 25px;
    align-self: flex-start;
}
.populaireBox > .popTitleBox{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.populaireBox > .popTitleBox > h2{
    padding: 60px 0 45px 0;
    font-size: max(24px, 1.5vw);/*31px*/
    letter-spacing: -1px;
}
.fa-chart-line{
    font-size: 25px;
}
.hotelCard2{
    height: 250px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: var(--outerRadius25);
    margin-bottom: 60px;
    box-shadow: var(--shadow);
    display: flex;
}

.hotelImgBox2{
    width: 100%;
    height: 100%;
    border-radius: var(--innerRadius20);    
    overflow: hidden;
    display: flex;
}

.hotelImgBox2 > img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}
.hotelInfoBox2 {
    padding: 15px 63px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotelInfoBox2 > div:first-child{
    display: flex;
    flex-direction: column;
}
.hotelInfoBox2 > div > h3{
    font-size: 25px;
    letter-spacing: 0.3px;
}
.hotelInfoBox2 > div > p{
    font-size: 22px;
    margin-top: 10px;
}
.starBox2{
    padding: 10px 0px;
}

/* ----- activités -----*/


.mainSection2{
    width: 100%;
    margin-top: 86px;
    /* padding: 0 3.5vw; */
    margin-bottom: 80px;
}
.mainSection2 > h2{
    font-size: max(24px, 1.6vw);/*31px*/
    letter-spacing: 0.75px;
    padding-left: 2vw;
}
.cardOuterBoxAct{
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bigCardBoxAct,
.smallCard{
    border-radius: 30px;
    overflow: hidden;
    box-shadow: var(--shadow);
}
.bigCardBoxAct,
.doubleCardBoxAct{
    width: 20.625vw;
    height: 750px;
    margin-bottom: 80px;
}
@media (max-width: 1700px){
    .bigCardBoxAct,
    .doubleCardBoxAct{
        width: 44.75vw;
    }
}

.imgBoxAct{
    width: 100%;
    height: 100%;
    position: relative;
}
.nomActivite{
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    background-color: white;
    padding: 30px 0 30px 30px;
    position: absolute;
    bottom: 0;

}
.imgBoxAct > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.smallCard{
    width: 100%;
    border-radius: 30px;
    box-shadow: var(--shadow);
}
.smallCard1{
    height: 380px;
}
.smallCard2{
    height: 300px;
}
.smallCard3{
    height: 325px;
}
.smallCard4{
    height: 355px
}

.doubleCardBoxAct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}













/*----- footer -----*/


footer{
    width: 100%;
    height: 280px;
    background-color: var(--gray);
    padding: 0 3.5vw;
}
footer > nav{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
}
footer > nav > ul{
    width: 33.33%;
}
.navTitle{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}
.navItem{
    font-size: 22px;
    margin-bottom: 15px;
}