header{
    width: 100%;
    padding: 0 3.5vw;
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(255, 0, 0, 0.233); */
}
.logo{
    /* height: 60px; */
    height: max(40px, 3.15vw);
    margin: 2.85vw 3.8vw 0 0.3vw;
}
header > nav > ul{
    display: flex;
}
header > nav > ul > li{
    display: flex;
}
.navBtn{
    font-size: max(20px, 1.2vw);/*23px*/
    font-weight: 300;
    border-top: 3px solid white;
}
.navBtn:hover, .navBtn:visited:hover{
    color: var(--blue);
    border-top: 3px solid var(--blue);
}

.navBtn:visited{
    color: black
}
.hebergement{
    padding: 3.1vw 1.5vw 3.1vw 1.9vw;
}
.hebergement:hover{
    padding: 3.1vw 1.5vw 3.1vw 1.9vw;
}
.activites{
    padding: 3.1vw 1.6vw 0px 3.15vw;
}
.activites:hover{
    padding: 3.1vw 1.6vw 0px 3.15vw;
}
.mainHgroup{
    margin-left: 4px;
}
.mainHgroup > h1 {
    font-size: max(25px, 1.53vw); /*29.4px*/
    letter-spacing: -0.1px;
}
.mainHgroup > p{
    font-size: max(20px, 1.16vw);/*22.3px*/
    font-weight: 100;
    line-height: 3px; 
}

.topSection{
    padding: 0 3.5vw
}
.searchBox{
    height: max(48px, 3.54vw);/*68px*/
    /* width: max(400px, 29.1vw);560px */
    border-radius: 20px;
    margin-top: max(40px, 1.95vw);
    background-color: var(--gray);
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    
}
.searchBox > i{
    height: 100%;
    width: 68px;
    font-size: 22px;
    background-color: var(--gray);
    border: 1px solid var(--lightblue);
    display: grid;
    place-items: center;
}
.searchBox > input{
    height: 100%;
    width: 312px;
    font-size: max(20px, 1.25vw);/*24px*/
    font-weight: 700;
    padding-left: 22px;
    border: 1px solid var(--gray);
    background-color: white;
}
.searchBox > input:active{
    border: 0;
}
.searchBox > button{
    width: 180px;
    height: 100%;
    color: white;
    font-size: max(20px, 1.25vw);/*24px*/
    font-weight: 700;
    border: 1px solid var(--strongblue);
    background-color: var(--strongblue);
    cursor: pointer;
}
.searchBox > button > i{
    display: none;
}



.filterBox{
    margin: max(40px, 2.1vw) 0 28px 0;/*margin-top: 40px*/
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.filterBox > h3 {
    font-size: max(16px, 1.25vw);
    margin: 0 40px 20px 4px;
}
.filterBox > button{
    height: 67px;
    font-size: max(16px, 1.30vw);/*25pw*/
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 30px;
    border: 2px solid var(--darkgray);
    border-radius: 50px;
    margin: 0px 32px 20px 0;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
}
.filterBox > button > i{
    height: 67px;
    aspect-ratio: 1/1;
    color: var(--blue);
    background-color: var(--lightblue);
    padding: 15px;
    margin-right: 17px;
    border: 2px solid var(--lightblue);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transform:translateX(-2px);
    transition: all 500ms ease;
}
/*----- filter hover transition -----*/

.filterBox > button:hover{
    color: var(--blue);
    /* background-color: var(--gray); */
    box-shadow: var(--shadow);
}
.filterBox > button:hover > i{
    color: var(--lightblue);
    background-color: var(--blue);
}




.infoBox{
    display: flex;
    align-items: center;
    padding-left: 10px
}
.infoBox > i{
    height: 30px;
    aspect-ratio: 1 / 1;
    color: var(--blue);
    padding: 6px;
    border: 2px solid var(--gray);
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.infoBox > p{
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.2px;
    margin-left: 16px;
}
.mainSection1{
    max-width: 100%;
    padding: 0 3.5vw;
    margin-top: 50px;
    display: flex;
}
.HebergementBox{
    max-width: 60.5vw;/*1160px*/
    padding: 52px 40px;
    border-radius: 28px;
    background-color: var(--gray);
    /* display: inline-block; */
}
.HebergementBox > h2 {
    font-size: max(24px, 1.60vw);/*31px*/
    letter-spacing: -0.5px;
    margin: 0 0 0px 0px;
}
.hotelCardBox1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 26px;
}


.hotelCard1{
    height: 266px;
    width: 329px;
    background-color: rgb(255, 255, 255);
    border-radius: var(--outerRadius25);
    margin: 0 10px 40px 10px;
    box-shadow: var(--shadow);

}
.hotelCard1 > a, .hotelCard2 > a {
    height: 100%;
    width: 100%;
    display: block;
    padding: 7px;
}

.hotelImgBox1{
    height: 152px;
    border-top-left-radius: var(--innerRadius20);
    border-top-right-radius: var(--innerRadius20);
    overflow: hidden;
}
.hotelImgBox1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hotelInfoBox1 {
    padding: 15px;
}
.hotelInfoBox1 > p{
    font-size: 19.5px;
    margin-top: 6px;
}

.HebergementBox > div > a{
    font-size: 25.5px;
    padding: 11px 0 0 7px;
    margin-bottom: 5px;
    display: grid;
    align-items: center;
}
.starBox{
    padding-left: 15px;
}
.fa-star{
    margin-right: -3px;
}
.blueStar{
    color: var(--blue);
}
.grayStar{
    color: var(--darkgray);
}



.populaireBox{
    background-color: var(--gray);
    margin-left: max(25px, 2.8vw);/*55px*/
    padding: 55px 52px 30px 47px;
    border-radius: 25px;
    align-self: flex-start;
}
.populaireBox > hgroup{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.populaireBox > hgroup > h2{
    font-size: max(24px, 1.6vw);/*31px*/
    letter-spacing: -1px;
    margin-bottom: max(24px, 1.67vw);/*32px*/
}
.fa-chart-line{
    font-size: 25px;
}
.hotelCard2{
    background-color: rgb(255, 255, 255);
    border-radius: var(--outerRadius25);
    margin: 0 0 max(21px, 2.2vw) 0;/*bottom: 42px*/
    box-shadow: var(--shadow);
}

.hotelCard2 > a {
    height: 100%;
    width: 100%;
    display: block;
    padding: 7px;
    display: flex;
}
.hotelImgBox2{
    width: 172px;
    height: 176px;
    border-top-left-radius: var(--innerRadius20);
    border-bottom-left-radius: var(--innerRadius20);
    overflow: hidden;
}
.hotelImgBox2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hotelInfoBox2 {
    padding: 15px 63px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotelInfoBox2 > div:first-child{
    display: flex;
    flex-direction: column;
}
.hotelInfoBox2 > div > h3{
    font-size: 21px;
    letter-spacing: 0.3px;
}
.hotelInfoBox2 > div > p{
    font-size: 19.5px;
    margin-top: 10px;
}
.starBox2{
    padding: 10px 0px;
}


.mainSection2{
    width: 100%;
    margin-top: 86px;
    padding: 0 1.6vw;
    margin-bottom: 80px;
}
.mainSection2 > h2{
    font-size: 27.5px;
    letter-spacing: 0.75px;
    padding-left: 2vw;
}
.cardOuterBoxAct{
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}




.bigCardBoxAct{
    width: 400px;
    height: 592px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: var(--shadow);
}
.actLink{
    width: 100%;
    height: 100%;
    display: block;
}
.bigCardBoxAct > a > .imgBoxAct{
    height: 520px;
}
.bigCardBoxAct > a > .imgBoxAct > img{
    height: 100%;
    display: grid;
    place-items: center;
}

.bigCardBoxAct, .doubleCardBoxAct1, .doubleCardBoxAct2{
    margin: 30px;
}

.doubleCardBoxAct1{
    width: 400px;
    height: 589px;/*313*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: var(--shadow);
}
.doubleCardBoxAct1 > .smallCard1{
    width: 100%;
    height: 315px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: var(--shadow);
}
.doubleCardBoxAct1 > .smallCard1 > a > .imgBoxAct{
    width: 100%;
    height: 245px;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.doubleCardBoxAct1 > .smallCard1 > a > .imgBoxAct > img{
    width: 100%;
    transform: translateY(-24%);
}
.nomActivite{
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0 0 25px;
    letter-spacing: -0.5px;
}
.doubleCardBoxAct1 > .smallCard2{
    width: 100%;
    height: 220px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: var(--shadow);
}
.doubleCardBoxAct1 > .smallCard2 > a > .imgBoxAct{
    width: 100%;
    height: 150px;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.doubleCardBoxAct1 > .smallCard2 > a > .imgBoxAct > img{
    width: 100%;
    transform: translateY(-10%);
}

.doubleCardBoxAct2{
    width: 400px;
    height: 589px;/*313*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.doubleCardBoxAct2 > .smallCard1{
    width: 100%;
    height: 260px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: var(--shadow);
}
.doubleCardBoxAct2 > .smallCard1 > a > .imgBoxAct{
    width: 100%;
    height: 190px;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.doubleCardBoxAct2 > .smallCard1 > a > .imgBoxAct > img{
    width: 100%;
}
.nomActivite{
    font-size: 22px;
    padding: 25px 0 0 25px;
}
.doubleCardBoxAct2 > .smallCard2{
    width: 100%;
    height: 278px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: var(--shadow);
}
.doubleCardBoxAct2 > .smallCard2 > a > .imgBoxAct{
    width: 100%;
    height: 210px;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.doubleCardBoxAct2 > .smallCard2 > a > .imgBoxAct > img{
    width: 100%;
    transform: translateY(-3%);
}




footer{
    width: 100%;
    height: 280px;
    background-color: var(--gray);
    padding: 0 3.5vw;
}
footer > nav{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
}
footer > nav > ul{
    width: 33.33%;
}
.navTitle{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}
.navItem{
    font-size: 22px;
    margin-bottom: 15px;
}