/* 
break points: 768px, 992px
*/

.red{
    border: 1px solid red;
}
.blue{
    border: 1px solid blue;
}
.green{
    border: 1px solid green;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --lightblue: #DEEBFF;
    --blue: #0065FC;
    --strongblue: #3d5ef7;
    --gray: #f2f2f273;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    width: 100vw;
    /* padding: 0 4%; */
    position: relative;
}
.pointer{
    cursor: pointer;
}


.desktop{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -100;
}
.telephone{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -100;
}
@media (max-width: 767px){
    .desktop{
        display: none;
    }
}
@media (min-width: 768px){
    .telephone{
        display: none;
    }
}

button{
    background-color:  transparent;
    border: 0;
}