/* 
break points: 768px, 992px
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap');

.red{
    border: 1px solid red;
}
.blue{
    border: 1px solid blue;
}
.green{
    border: 1px solid green;
}




:root{
    --lightblue: #deebff;
    --blue: #0065FC;
    --strongblue: #3d5ef7;
    --gray: #f2f2f2;
    --darkgray: #d9d9d9;
    --shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);

    --outerRadius25: 25px;
    --innerRadius20: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Send Flowers', cursive; */
    font-family: 'Raleway', sans-serif;
}

body{
    max-width: 100vw;
    position: relative;
}
.pointer{
    cursor: pointer;
}


.desktop{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -100;
}
.telephone{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -100;
}
@media (max-width: 767px){
    .desktop{
        display: none;
    }
}
@media (min-width: 768px){
    .telephone{
        display: none;
    }
}

button{
    background-color:  transparent;
    border: 0;
}
a, a:visited, a:active{
    color: black;
    text-decoration: none;
}
.shadow{
    box-shadow: 2px 2px 10px rgba(149, 183, 245, 0.397);
}
ul{
    list-style: none;
}
