header{
    width: 100%;
    padding: 0 3.5vw;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: max(70px, 3.15vw);
    margin: 2.85vw 3.8vw 0 0.3vw;
}
header > nav > ul{
    display: flex;
}
header > nav > ul > li{
    display: flex;
}
.navBtn{
    font-size: max(20px, 2vw);
    font-weight: 200;
    border-top: 3px solid white;
}
.navBtn:hover, .navBtn:visited:hover{
    color: var(--blue);
    border-top: 3px solid var(--blue);
}
.navBtn:visited{
    color: black
}
.hebergement{
    padding: 3.1vw 1.5vw 3.1vw 1.9vw;
}
.hebergement:hover{
    padding: 3.1vw 1.5vw 3.1vw 1.9vw;
}
.activites{
    padding: 3.1vw 1.6vw 0px 3.15vw;
}
.activites:hover{
    padding: 3.1vw 1.6vw 0px 3.15vw;
}



/*----- TOP SECTION -----*/
.topSection{
    margin: 0 5.5vw
}
.mainHgroup > h1 {
    font-size: max(18px, 4vw); /*29.4px*/
    letter-spacing: -0.3px;
    padding-top: 37px;
}
.mainHgroup > p{
    font-size: max(16px, 3vw);/*22.3px*/
    letter-spacing: 1px;
    /* line-height: 3px;  */
}

.searchBox{
    
    border-radius: 3vw;
    margin-top: 9.7vw;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--lightblue);
}
.searchBox > i{
    height: max(48px, 9vw);
    /* width: 8.8vw; */
    font-size: max(16px, 3vw);
    background-color: var(--lightblue);
    padding: 0 30px;
    display: grid;
    place-items: center;
}
.searchBox > input{
    /* height: 100%; */
    font-size: max(20px, 3vw);
    font-weight: 700;
    padding-left: 35px;
    border: 0;
    background-color: transparent;
}
.searchBox > input:active{
    border: 0;
}
.searchBox > button{
    /* height: 100%; */
    color: white;
    font-size: max(16px, 1.25vw);/*24px*/
    font-weight: 700;
    border: 0;
    cursor: pointer;    
}
.searchBox > button > p {
    display: none;
}
.searchBox > button > i{
    height: max(48px, 9vw);
    aspect-ratio: 1 / 1;
    font-size: max(16px, 3vw);
    background-color: var(--strongblue);
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    display: grid;
    place-items: center;
}


.filterBox{
    margin: max(20px, 9vw) 0 28px 0;/*margin-top: 40px*/
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.filterBox > h3 {
    width: 100%;
    font-size: max(16px, 5vw);
    margin: 0 40px 28px 2px;
}
.filterBox > button{
    height: 80px;
    font-size: max(16px, 3vw);/*25pw*/
    font-weight: 700;
    /* letter-spacing: 1.8px; */
    padding-right: 36px;
    border: 3px solid var(--darkgray);
    border-radius: 50px;
    margin: 0px 25px 27px 0;
    display: flex;
    align-items: center;
}
.filterBox > button > i{
    height: 80px;
    aspect-ratio: 1 / 1;
    font-size: 30px;
    color: var(--blue);
    background-color: var(--lightblue);
    padding: 15px;
    margin: 0 25px 0 -5px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 500ms ease;
    cursor: pointer;
}

/*----- filter hover transition -----*/

.filterBox > button:hover{
    color: var(--blue);
    box-shadow: var(--shadow);
}
.filterBox > button:hover > i{
    color: var(--lightblue);
    background-color: var(--blue);
}



.infoBox{
    margin: 37px 0 0 0;
    display: flex;

    
}
.infoBox > i{
    height: 48px;
    aspect-ratio: 1 / 1;
    font-size: 26px;
    color: var(--blue);
    border: 2px solid var(--darkgray);
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.infoBox > p{
    font-size: max(18px, 3vw);
    letter-spacing: -0.5px;
    padding: 6px 0 0 5px;
    margin: 0 0 72px 16px;

}


/*----- main section 1 -----*/

.mainSection1{
    max-width: 100%;
    padding: 0 0px 52px 0px;
    display: flex;
    flex-wrap: wrap-reverse;
}

/*----- populaires ----- */

.populaireBox{
    width: 100%;
    background-color: var(--gray);
    padding: 78px 40px 0 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.populaireBox > hgroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.populaireBox > hgroup > h2{
    font-size: max(24px, 4vw);/*31px*/
    letter-spacing: 0.2px;
    margin-bottom: 6.9vw;
}
.fa-chart-line{
    font-size: 35px;
}
.hotelCard2{
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    margin: 0 0 max(21px, 2.2vw) 0;/*bottom: 42px*/
    display: flex;
    box-shadow: var(--shadow);
}
.hotelCard2 > a {
    height: 100%;
    width: 100%;
    display: block;
    padding: 11px;
    display: flex;
}
.hotelImgBox2{
    width: 34.3vw;
    height: 25vw;/*275*/
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    overflow: hidden;

}
.hotelImgBox2 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hotelImgBox2 > .toutBleu{
    width: 100%;
}
.hotelInfoBox2 {
    padding: 20px 63px 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotelInfoBox2 > div > h3{
    font-size: max(20px, 2.5vw);
    letter-spacing: -1px;
}
.hotelInfoBox2 > div > p{
    font-size: max(18px, 1.5vw);
    margin-top: 13px;
}
.starBox2{
    padding-bottom: 12px;
}

/*----- hébergement -----*/

.HebergementBox{
    /* padding: 55px 15px 55px 52px; */
    width: 100%;
    
    padding: 0px 40px;
    margin-top: 130px;
    display: inline-block;
    align-self: flex-start;
}
.HebergementBox > h2 {
    font-size: max(24px, 4vw);/*31px*/
    letter-spacing: 1.5px;
    padding-left: 3px;
    margin: 0 0 0px 0px;
}
.hotelCardBox1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 41px;

}

.hotelCard1{
    width: 631px;
    background-color: rgba(255, 255, 255);
    border-radius: 43px;
    /* overflow: hidden; */
    margin: 0px 0px 26px 0px;
    box-shadow: var(--shadow);
}
.hotelCard1 > a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 11px;
}
.hotelImgBox1{
    width: 100%;
    height: 231px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    overflow: hidden;
}
.hotelImgBox1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hotelInfoBox1 {
    padding: 0 0 0 23px ;
}
.hotelInfoBox1 > h3{
    font-size: max(20px, 3.5vw);
    font-weight: 700;
    padding-top: 20px;
    letter-spacing: -0.3px;
}
.hotelInfoBox1 > p{
    font-size: max(18px, 2.5vw);
    margin-top: 12px;
    letter-spacing: 0.7px;
}

.HebergementBox > div > a{
    font-size: 38px;
    padding: 37px 0 0 2px;
    margin-bottom: 5px;
    display: grid;
    align-items: center;
}
.starBox{
    margin: 15px 0 11px 19px;
}
.fa-star{
    font-size: max(20px, 1vw);
    margin-right: -3px;
}
.blueStar{
    color: var(--blue);
}
.grayStar{
    color: var(--darkgray);
}

/*----- main section 2 -----*/

.mainSection2{
    width: 100%;
    margin-top: 6.8vw;
    padding: 0 5.5vw;
    /* background-color: rgba(255, 0, 0, 0.287); */
}
.mainSection2 > h2{
    font-size: 6vw;
    letter-spacing: -0.3px;
}

.cardOuterBoxAct{
    width: 100%;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




.bigCardBoxAct, 
.smallCard1, 
.smallCard2, 
.doubleCardBoxAct2{
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.bigCardBoxAct > a > .imgBoxAct,
.smallCard1 > a >.imgBoxAct,
.smallCard2 > a >.imgBoxAct{
    width: 100%;
    height: 274px;
    overflow: hidden;
}
.actImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bigCardBoxAct, 
.smallCard1, 
.smallCard2 {
    box-shadow: var(--shadow);
}
.nomActivite{
    font-size: max(18px, 4.4vw);
    font-weight: 700;
    padding: 40px 0 35px 40px;
    letter-spacing: -1.5px;
}
.doubleCardBoxAct1,
.doubleCardBoxAct2{
    width: 100%;
}
.bigCardBoxAct, .smallCard1, .smallCard2{
    margin-bottom: 48px;
}



/*----- footer -----*/

footer{
    width: 100%;
    background-color: var(--gray);
    /* background-color: rgba(255, 0, 0, 0.253); */
    margin: 45px 0 0 0;
    padding: 91px 7.7vw;
}
footer > nav{
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.144); */
}
.navTitle{
    font-size: max(20px, 3vw);
    font-weight: 700;
}
.navTitle1{
    letter-spacing: -1.3px;
    margin-bottom: 38px;
}
.navTitle2{
    letter-spacing: -0.3px;
    margin: 80px 0 40px 0px;
}
.navTitle3{
    letter-spacing: -1.3px;
    margin: 103px 0 40px 0px;
}
.navItem{
    font-size: max(20px, 3vw);
    letter-spacing: -0.4px;
    margin-bottom: 24px;
}