header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.233);
}
.logo{
    height: 90px;
    margin: 5.8vw 0 0 0;
    align-self: center;
}
.navBox{
    display: flex;
}

.navBox{
    margin: 8.1vw 0 0 0;
}
.navBtn{
    width: 50%;
    font-size: max(16px, 4.6vw);
    padding-bottom: 4.3vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.navBtn:hover{
    padding-bottom: 3.5vw;
    border-bottom: 6px solid var(--blue);
}

.activites{
    padding-right: 10px;
}